html,body{
    margin: 0;
    padding: 0;
    background: url(/pictures/login\ background.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    overflow-y:hidden;
}

.loginMain{
    width: 600px;
    height: 720px;
    margin: 10px 0 0 10px;
    background-color: white;
    top: 0;
    left: 0;
    position: relative;
    border-radius: 2%;
    box-shadow: inset 0 -3em 3em rgba(100, 211, 255, 0.363), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 106, 145, 0.3);
}

.benLogo{
    position: absolute;
    left: 15%;
    width: 400px;
    margin-top: 50px;
}

h1{
    padding: 200px 0 10px 90px;
    font-size: 23px;
}

form{
    padding-left: 90px;
}

.loginMain p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: rgb(110, 108, 108);
    padding: 20px 0 10px 0;
}

.loginMain input{
    width: 75%;
    margin-bottom: 20px;
}

.loginMain input[type = "user"], input[type="password"]{
    border: 1px solid rgba(128, 128, 128, 0.382);
    background: transparent;
    height: 40px;
    color: black;
    font-size: 16px;

}

